#user-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr 1fr;
  place-items: center;
  height: 100%;
}

#user-wrapper h1 {
  font-size: 1.5em;
}

#user-wrapper p {
  font-size: 1.2em;
  width: max-content;
}

.form-wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 2rem;
  grid-row-gap: 1rem;
}

.form-wrapper input {
  border: none;
  border-bottom: 1px solid #4497FF;
  font-size: 1.5rem;
  background: transparent;
  outline: none;
  color: var(--primary-color);

}

.form-wrapper input::placeholder {
  color: #fff;
}

.form-wrapper input:focus {}

.form-wrapper button {
  margin-top: 1rem;
  padding: .25em;
  font-size: 1.2rem;
  background: var(--primary-color);
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

.form-wrapper button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.form-wrapper button span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.form-wrapper button:hover span {
  padding-right: 1.56em;
}

.form-wrapper button:hover span::after {
  opacity: 1;
  right: 0;
}

.confirmation-message {
  padding: 2em;
}

@media only screen and (min-width: 1000px) {
  #user-wrapper {
    /* grid-template-rows: 1fr 2fr; */
  }

  #user-wrapper .content {

    justify-self: center;
    margin-left: 0;
  }
}