.search-wrapper {
  position: absolute;
  top: 6rem;
  right: 6rem;

}

#search-input {
  padding: .380rem .625rem;
  border: none;
  position: relative;
  font-size: 1.0625rem;
  border-radius: 5px 0 0 5px;
}

.search-icon {
  position: absolute;
  top: 0;
  padding: .380rem .625rem;
  font-size: .9rem;
  right: -2.12rem;
  background: grey;

}

.search-results-wrapper {
  margin-top: 6rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  gap: 1rem;

}

.search-results-wrapper .header {
  font-size: .75rem;
  margin-top: 2rem;
}


.search-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  height: 50vh;
  overflow-y: scroll;
  width: 100%;
}

.nomatch-message {
  color: brown;
  font-size: 1rem;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  overflow-y: scroll;
  overflow-y: hidden;
  height: 60vh;
  padding: 0 1.5rem;
}

.card {
  border-radius: 10px;
  background: #fff;
  font-size: .8rem;
  padding: 1rem;
  height: fit-content;
  width: inherit;
}

.card button {
  padding: .35em;
  font-size: 1.2rem;
  background: var(--primary-color);
  display: inline-block;
  color: #fff;
  border: none;
  border-radius: 10px;
  position: relative;
  cursor: pointer;

}

.card button a {
  color: #fff;
  text-decoration: inherit;
}

.card .btn-edit {
  background: rgb(34, 31, 38, .8);
}


.nav-sort button {
  cursor: pointer;
  padding: .2rem;
}


.nav-sort ul li a {
  text-decoration: none;

  color: white;


}

.nav-sort ul li a:hover {
  background: #413E47;
}

@media only screen and (min-width: 700px) {

  .search-results-wrapper .header {
    font-size: 1rem;
    margin-top: 2rem;
    font-style: italic;
  }

  .search-results {
    gap: 1rem;
    width: 80%;
    overflow-y: scroll;
    place-items: center;
    max-width: 600px
  }

  .search-results-wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    gap: 1rem;
    max-width: 1250px;

  }

  .search-results-wrapper .header {
    display: flex;

    margin-top: 3rem;
  }

  .nomatch-message {

    font-size: 2.9rem;
  }

}

@media only screen and (min-width: 1000px) {

  .search-results-wrapper .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    gap: 1rem
  }

  .search-results-wrapper {


    margin-top: 0;
  }

}